<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730948163287-pv3r77cnlqfo86f3tmar99kgq304hbrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730948163287-pv3r77cnlqfo86f3tmar99kgq304hbrf</string>
	<key>API_KEY</key>
	<string>AIzaSyD_84jKINzFd6M284FQ1rPa-H_aLdFLqRg</string>
	<key>GCM_SENDER_ID</key>
	<string>730948163287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benbuchanan</string>
	<key>PROJECT_ID</key>
	<string>yahtzi-db8be</string>
	<key>STORAGE_BUCKET</key>
	<string>yahtzi-db8be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730948163287:ios:c4e794751ad93b52014292</string>
	<key>DATABASE_URL</key>
	<string>https://yahtzi-db8be.firebaseio.com</string>
</dict>
</plist>